body {
    background-image: url("../images/wallpaper.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

a {
    text-decoration: none;
    color: dimgray;
}

a:hover {
    color: lightblue;
}

.nav li a {
    color: #ffffff;
}

.nav li a:hover {
    color: deeppink;
}

.title {
    margin-top: 15%;
    color: #ffffff;
    padding-bottom: 5%;
    margin-bottom: 10%;
}

.title h1 {
    font-size: 4em;
}

.title hr {
    width: 25%;
}

.logo {
    max-width: 500px;
    max-height: 150px;
    display: inline-block;
}

.block {
    padding: 5px 30px 5px 30px;
    margin: 5px 0px 5px 0px;
}

.block-bg {
    background-color: white;
}

.spacer {
    width: 100%;
    height: 10px;
    position: fixed;
    display:block;
}

.sidebar {
    text-align: left;
    float: right;
    height: 100%;
}



.bottom {
    float: bottom;
    margin-bottom: 0px;
}

.blog {
    text-align: left;
    float: left;
}





.blog .image {
    max-width: 100%;
    max-height: 100%;
}

.blog .blog-item {
    float: left;
    text-align: left;
}

.socialmedia h4 {
    text-transform: uppercase;
}

.oneline li {
  display:inline;
}

.social {
    padding: 3px 3px 3px 3px;
    color: dimgray;
}

.social:hover {
    color: lightblue;
}

.copyright-love {
    color: red;
}

.text {
    text-align: left;
    color: dimgray;
    
}

.image-small {
    max-width: 25%;
    max-height: 25%;
}

.blog-actions {
    padding: 0px 10px 0px 10px;
}

.block-single {
    margin: auto;
    margin-top: 15%;
}

.minigame {
    
}

.minigame img {
    max-height: 90%;
    max-width: 90%;
}

.playercount {
	display: inline-block;
	margin: 20px 15px 0 15px;
	padding: 2px 0;
	background-color: rgba(15, 199, 209, 0.75);
	font-size: 1em;
	color: white;
	text-align: center;
	border-radius: 5px 0 5px 0;
	line-height: 27px;
}

.playercount > p > span {
	font-weight: bold;
	padding: 1px 4px;
	border-radius: 3px;
	background: rgba(9, 150, 158, 0.7);
	margin: 0 2px;
}

.extrapad {
	padding: 0;
}

.ip {
	cursor: pointer;
}
